div {
    margin: auto;
    margin-top: 20px;
}

#menu ul li{
    list-style: none;
    background-color: rgb(183, 235, 143);
    border: black 1px solid;
    float: left;
    margin-right: 5px;
    padding: 5px 5px;
}

#menu ul li:hover{
    background-color: rgb(126, 218, 83);
}

#menu ul li a{

text-decoration: none;
color: rgb(0, 0, 0);
}
*/
header {

    padding-top: 100px;
  
    background: #3d4144 url("../img/paco.jpg") 0 0 repeat;
  
    border-bottom: 5px solid #ddd;
  
  }

/* Colores de la tabla */
table{
    border-spacing: 0px;
    border-color: rgb(34, 34, 34);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.dia{
    background-color: rgb(237, 245, 124);
}

.hora{ 
    background-color: rgb(237, 245, 124);
}
.serveis{
    background-color: rgb(146, 255, 95);
}

.seguretat{
    background-color: rgb(250, 126, 126);
}

.sistemes{
    background-color: rgb(161, 241, 255);
}

.aplicacions{
    background-color: rgb(255, 245, 102);
}

.empresa{
    background-color: rgb(235, 158, 245);
}

.pati{
    background-color: rgb(202, 199, 250);
}

/* Pagina blog */

.container {
    width: 60%;
    margin: 0 auto;
    outline: 8px solid #bdc3c7;
    outline-offset: 15px;
    margin-top: 50px;
}

/* MENU */
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    background-color:var(--main-color);
    width: 100%;
}


:root{
    --main-color:#6e8ba3;
    --hover-color:#dadada;
    --font-color:#ffffff;
    --active-color:#ff8d76;
}

*{
    margin:0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    padding: 10px;
    color: var(--font-color);
}

header{
    background-color:var(--main-color);
    width: 100%;
}

nav{
    width: 75%;
    margin: 0 auto;
}

nav ul{
    display: table;
    width: 100%;
}

nav ul li{
    display: table-cell;
    width: 25%;
    height: 30px;
    background-color:var(--main-color);

}

nav ul li a{
    display: block;
    text-align: center;
    height: 100%;
}

nav ul li a:hover{
    background-color: var(--hover-color);
    color:var(--font-color);
    height: 100%;
}

.active{
    background-color: var(--active-color);
}

.show{
    display: block;
}

@media screen and (max-width: 411px) {

    nav{
        width: 100%;
        margin: 0 auto;
    }

    #menu-header{
        display: none;
    }
    
    nav ul li{
        display: list-item;
        width: 100%;
    }
}

/* MENU FIN */

.fecha {
    font-size: 30px;
    color: cornflowerblue;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#border-left {
    border-left: 3px solid #bdc3c7;
    padding-left: 5px;
}

.paragraph {
    margin-top: 25px;
}

.wrapper
{
	padding-bottom: 10px;
}

.divider
{
	position: relative;
	margin-top: 30px;
	height: 1px;
}

.div-transparent:before {
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}